@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
*{
  font-family: 'Muli', sans-serif;
  margin:0;
  padding:0;
  }

html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  background-image: url('assets/albert-einstein.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(120, 161, 120);
  display: table-cell;
  vertical-align: middle;
}
header, main {
  color: white; 
  border-bottom: solid rgba(0, 0, 0, 0.466);
  text-shadow: black;
}
header {
  text-align: center;
}

h1, h2, h3 {
  padding: .5%;
}

#card-contents {
  background-color: rgba(78, 100, 85, 0.74);
  border: solid black;
}

#title {
  margin: auto;
  padding: 2%;
}

main {
  margin: auto;
}

#image-div {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  }

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}


footer {
  background-color: #A57D66;
  display: block;
  margin: auto;
  padding: 2%;
}

/*science background graphic*/ 
.science {
  position: initial;
  z-index: 100;
  width: 7%; height: 7%;
  top: 50%; left: 50%;
  margin: 0 auto;
  transform: rotate(45deg);
}
.isthis {
    width: 100%; height: 100%;
    transform: rotate(-45deg);
  }
    .thisisscienceiguess,
    .andthisistoo,
    .thisistooofcourse {
      position: absolute;
      display: block;
      width: 100%; height: 100%;
      top: 0; left: 0;
      border-width: 4px;
      border-style: solid;
      border-radius: 100%;
      opacity: .9;
    }
    .thisisscienceiguess {
      border-color: #b9c3c4;
      animation: center 2s ease-in-out infinite;
    }
    .andthisistoo {
      border-color: #03248f;
      box-shadow: rgb(255, 255, 255);
      animation: top 2s ease-in-out infinite;
    }
    .thisistooofcourse {
      border-color: #911010;
      animation: bottom 2s ease-in-out infinite;
    }
  
  @keyframes center {
    0%   {transform: rotateY(0deg)}
    50%  {transform: rotateY(90deg)}
    100% {transform: rotateY(360deg)}
  }
  @keyframes top {
    0%   {transform: rotateY(0deg) rotateX(0deg)}
    50%  {transform: rotateY(90deg) rotateX(45deg)}
    100% {transform: rotateY(360deg) rotateX(0deg)}
  }
  @keyframes bottom {
    0%   {transform: rotateY(0deg) rotateX(0deg)}
    50%  {transform: rotateY(90deg) rotateX(-45deg)}
    100% {transform: rotateY(360deg) rotateX(0deg)}
  }
